body {
  min-width: 400px;
  min-height: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(176, 245, 202);
}

#headline{
  font-family: 'Spicy Rice', cursive;
  font-size: 40px;
  font-weight: 500;
  color: rgb(18, 116, 6);
}

form{
  width: 100%;
  height: 200px;
}

#conertSnt{
    font-size: 20px;
    font-family: 'Spicy Rice', cursive;
}

select.curSelect{
  width: 100px;
  float: left;
  margin-top: 10px;
  text-align: center;
  font-family: 'Spicy Rice', cursive;
}

#labelFloat{
  float: left;
  font-size: 20px;
  margin: 10px;
  line-height: 1.5;
  font-family: 'Spicy Rice', cursive;
}

input.amountInp{
  width: 160px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Spicy Rice', cursive;
}
#total{
  text-align: center;
  height: 30px;
  margin: 30px;
  margin-bottom: 15px;
  padding: 30px;
  font-size: 20px;
  font-family: 'Spicy Rice', cursive;
}

#generate {
  display: block;
  margin: 15px auto;
  border: none;
  padding: 10px;
  width:  100%;
  font-family: 'Spicy Rice', cursive;
  font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
